header{
    background-color: royalblue;
    height: 50px;
}

header .container, nav .container{
    width: 90%;
    margin: auto;
    padding: 0px 0px;
}

.icon{
    display: inline-block;
}

.icon img{
    width: 20px;
}

.icon a{
    padding: 5px 5px;
    margin: 0px 5px;
    
}

.icon a:hover{
    background-color:blue;
}

.container .heading{
    display: inline-block;
    color: white;
    margin: 0px 85px;
}

.butt{
    display: inline-block;
}

.butt a{
    text-decoration: none;
    color: lightgreen;
    background-color: white;
    padding: 5px 10px;
    border: 1px solid green;
    font-size: 12px;
}

nav{
    background-color: whitesmoke;
}

nav .image{
    display: inline-block;
}

nav .nav{
    display: inline-block;
    margin-left: 350px;
}

.active{
    background-color: royalblue;
    border-radius: 5px;    
}

.nav ul li{
    display: inline;
}

.nav ul li a{
    text-decoration: none;
    padding: 5px 10px;
    color: black;
}

.nav ul li a:hover,.nav ul li select:hover {
    background-color: royalblue;
    border-radius: 10px;
    cursor: pointer;
}

.nav select{
    border: none;
    background-color: whitesmoke;
    padding: 5px 5px;
}

.nav option{
    background-color: whitesmoke;
}
menu{
    display: inline block;
    position: relative;
}
menu.image{
    padding: 10px 10px;
    
}
.p{
    background-color:blue ;
}
.khan{
    font-size: large;
    display: inline;
    padding: 5px;
    margin: auto;
}

    
div.box{
    text-align: center;
}
div.para{
    font-size: 14px;
    margin-bottom: 32px;
    line-height: 2em;
}
menu,p{
    font-size: 14px;
    margin-bottom: 32px;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
/* div.bhatti,p{
    font-size: 14px;
    margin-bottom: 32px;
    line-height: 2em;
} */
.counter{
    background-color: royalblue;
}

.counter-container{
    width: 85%;
    margin: 0 auto;
    padding: 20px 20px;
}

.count{
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin: 50px 20px;
}

.count img{
    width: 50px;
}

.count h1{
    font-size: 64px;
    font-family: cursive;
}

.count h5{
    margin-top: 10px;
    font-family: cursive;
}
.hello{
    text-align: center;
}


.hello img{
    text-align: center;
}

.Hi{
    width: 95%;
    overflow: hidden;
    background: wheat;
    margin: 20px auto;
    padding: 20px;
}
.Hi ul{
    padding: 0px;
    margin: 0px;
}
.Hi ul li{
    list-style: none;
    float: left;
    width: 20%;
    height: 200px;
    background: white;
    margin: 40px 40px 0px 55px;
}
.hey{
    
    text-align: center;
    text-transform: uppercase;
    
    margin: 50px 20px;

}
.hey img{
    text-align: center;
}
.hey p{
    text color: #000;
}
@media screen and (max-width:1500px){
    .hey ul li{
        width:40%;
        margin-left: 20%;
    }
.watch{
    display: inline-block;
}


.beautiful img{
    text-align: center;
}
.rashan{
    padding: 0%;
    margin: 0%;
}
.rashan img{
    width: 50px;
    text-align: center;
    display: inline;
}
.contact{
    background-color:#25272e;
    overflow: hidden;
}

.contact-container{
    width: 90%;
    margin: 0 auto;
    padding: 50px 10px;
}

.address{
    width: 30%;
    float: left;
    color: gray;
    line-height: 30px;
    margin-right: 40px;
}

.address img{
    width: 15px;
}

.links{
    width: 30%;
    float: left;
    color: green;
    margin-right: 40px;
}

.links p, .connect p{
    margin-bottom: 10px;
}

.connect{
    width:30%;
    float:left;
    color: white;
}


.connect img{
    width: 18px;
    background-color: royalblue;
    padding: 8px;
    border-radius: 16px;
}
.rashan img{
    height: 100px;
    width: 200px;
}